.addIconContainer {
  position: relative;
  display: inline-block;
}

.addIcon {
  position: absolute;
  top: -5px;
  right: 5px;
  transform: translateY(-50%);
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}
