.statsBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.statsText {
  font-size: 18px;
  font-style: italic;
}
