@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  color: #252525;
  /* color: #495057; */
  font-weight: 400;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
  height: 100vh;
}
.appTitle {
  color: #edc84b;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;

  text-decoration: underline wavy;
  text-decoration-color: #edc84b;

  width: 100%;
  display: block;
}
